<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="controlledServices" type="TelegramBot.Settings.ServiceItemSettingsSection, TelegramBot" />
    <section name="spiderAgents" type="TelegramBot.Settings.RemoteKeySettingsSection, TelegramBot" />
    <section name="grantedUsers" type="TelegramBot.Settings.UserSettingsSection, TelegramBot" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TelegramBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <controlledServices name="Controlled Services">
    <serviceItem key="AdminCashInServer" serviceName="AdminCashInServer" name="AdminCashInService" alias="cadmin" 
                 path="C:\CashInAdminServer" remoteKey="201" logFiles="AdminCashInService_admin_debug;AdminCashInService_admin_error;AdminCashInService_admin_info" />
    <serviceItem key="CashInServer" serviceName="CashInServer" name="CashInService" alias="cashin" 
                 path="C:\CashInServer" remoteKey="201" logFiles="CashInService_terminal_debug;CashInService_terminal_info;CashInService_terminal_error;CashInService_virtual_debug;CashInService_virtual_error;CashInService_virtual_info" />
    <serviceItem key="BotServiceCash" serviceName="BotService" name="BotService" alias="cbot" 
                 path="C:\BotService" remoteKey="201" logFiles="BotService_debug;BotService_info;BotService_error" />
    <serviceItem key="BotServiceIb" serviceName="BotService" name="BotService" alias="ibot" 
                 path="C:\BotService" remoteKey="220" logFiles="BotService_debug;BotService_info;BotService_error" />
    <serviceItem key="CallCenterCardInfoService" serviceName="CallCenterCardInfoService" name="BotService" alias="call" 
                 path="C:\CallCenterCardInfoService" remoteKey="220" logFiles="CallCenterCardInfoService_debug;CallCenterCardInfoService_info;CallCenterCardInfoService_error" />
    <serviceItem key="DsmfPaymentServer" serviceName="DsmfPaymentServer" name="DsmfPaymentService" alias="dsmf" 
                 path="C:\DsmfPaymentService" remoteKey="220" logFiles="DsmfPaymentService_debug;DsmfPaymentService_info;DsmfPaymentService_error" />
    <serviceItem key="MobileBanking" serviceName="MobileBanking" name="InternetBankingMobileService" alias="imobile" 
                 path="C:\MobileBanking" remoteKey="220" logFiles="InternetBankingMobileService_debug;InternetBankingMobileService_info;InternetBankingMobileService_warn" />
    <serviceItem key="PaymentServer" serviceName="PaymentServer" name="MultiPaymentService" alias="ib" 
                 path="C:\PaymentService" remoteKey="220" logFiles="MultiPaymentService_ib_info;MultiPaymentService_info;MultiPaymentService_debug;MultiPaymentService_IbToIbsBridge_debug;MultiPaymentService_IbToIbsBridge_error;MultiPaymentService_IbToIbsBridge_warn;MultiPaymentService_IbToIbsBridge_info;MultiPaymentService_abp_error;MultiPaymentService_abp_warn;MultiPaymentService_ib_error;MultiPaymentService_ib_warn;MultiPaymentService_abp_debug;MultiPaymentService_abp_info;MultiPaymentService_error;MultiPaymentService_warn;MultiPaymentService_ib_debug" />
    <serviceItem key="BotServiceSms" serviceName="BotService" name="BotService" alias="smsbot" 
                 path="C:\BotService" remoteKey="" logFiles="BotService_debug;BotService_info;BotService_error" />
    <serviceItem key="CashToAtmServer" serviceName="CashToAtmServer" name="CashToAtmService" alias="cash2atm" 
                 path="C:\BobCashToAtm" remoteKey="" logFiles="CashToAtmService_debug;CashToAtmService_info;CashToAtmService_error" />
    <serviceItem key="EpayService" serviceName="EpayService" name="EpayServer" alias="epay" 
                 path="C:\EpayService" remoteKey="" logFiles="EpayServer_debug;EpayServer_info;EpayServer_error" />
    <serviceItem key="OnlineCreditPaymentService" serviceName="OnlineCreditPaymentService" name="OnlineCreditRepaymentService" alias="credit" 
                 path="C:\OnlineCreditPayment" remoteKey="" logFiles="OnlineCreditRepaymentService_debug;OnlineCreditRepaymentService_info;OnlineCreditRepaymentService_error" />
    <serviceItem key="PashaSigortaPrivateOfficeService" serviceName="PashaSigortaPrivateOfficeService" name="PashaSigortaPrivateOfficeService" alias="pasha" 
                 path="C:\PashaSigortaPrivateOffice" remoteKey="" logFiles="PashaSigortaPrivateOfficeService_debug;PashaSigortaPrivateOfficeService_info;PashaSigortaPrivateOfficeService_error" />
    <serviceItem key="ReferenceCreditService" serviceName="ReferenceCreditService" name="ReferenceCreditService" alias="ref" 
                 path="C:\ReferenceCredit" remoteKey="" logFiles="ReferenceCreditService_debug;ReferenceCreditService_info;ReferenceCreditService_error" />
    <serviceItem key="SMSGateServer" serviceName="SMSGateServer" name="SMSGateService" alias="sms" 
                 path="C:\SMS Gate" remoteKey="" logFiles="SMSGateService_debug;SMSGateService_info;SMSGateService_error" />
  </controlledServices>
  <grantedUsers name="Granted users">
    <grantedUser name="DerSkythe" accessType="2" />
    <grantedUser name="aemloviji" accessType="2" />
    <grantedUser name="hgpashayev" accessType="2" />
  </grantedUsers>
  <spiderAgents name="Agents of telegram spider">
    <remoteKey key="220" ip="192.168.0.220" publicCert="-----BEGIN PUBLIC KEY-----\r\nMIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAroHeiXjHM9wMaW6kXYJh\r\n0T68u+5INa4L5e5Alt2omcm3WXuxw1V/QNBoRAcQ2/gIZFqRVxLGCCsJMBuR/22C\r\n8Ne9JWeN44DtbCEC6Bfvju/xIn6S2MP7VS/uA91hxora6GllMpoKHs91BQQlKWRG\r\nb2DpKk0pmf/qDIX1d5T/QEqW1lsh2D4KuIVAvfCIAR+70VaoVkLuWvzHba2XXsH3\r\nKXU4KQT1WatG/QS+gf7CS9HZC5xO3guW9+uBBTjP+mEnNSNcZ4t+FTqOMQT0MIzQ\r\nxdC3PIhBS8u3WDvj0Dt5IYWvXZFtbAo2FrRHavnzOxk+laMQ9lwZ3xtCGzkceTyK\r\nBb76Q+YQegRVPikh8dukCxim5Pw0TyA7t8g6IgWJBppHEIGE+8bm6dS5hLq/jC1Q\r\nnyIPJWR8WrhbIxPqp7zFZqmksc2/ysc9gQ1rQFgJ5wXfKuebVXempyq6keTTV9uR\r\nJbTYJkMjz/eFkru4c2oS76y83eGE3ukJM/g9RzikYM1+qRQNwuBFfpEQ6/ZDN9QZ\r\nU95A4WaUH9F6nBkSjosgsfug9GU9u61yxWCIt383UEmNOW2nJCt2OqI2dxc9D7qB\r\nsaKeBgWzFhimSWaivFLOAkQ5vNY1brXJ6fiplzLHpyYjFRtpf/M6AzyiGAA5WU89\r\nRma1aXxWLjA9WcMb5/uDeVUCAwEAAQ==\r\n-----END PUBLIC KEY-----" />
    <remoteKey key="201" ip="192.168.0.201" publicCert="-----BEGIN PUBLIC KEY-----\r\nMIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEA7W6R3ZqiIsfOiyRLqRnT\r\nP7rMm3TirPOEaJeCUJ5spGhI8g1/4pdDVcABARmaP/m/uNHIXePVjHGwMRAgVqU6\r\nXn6RUzCRBc/My4GN4ww8z4B0pFqCHoTFYR1RaaeAjbdQRM40Khevp986BbGQdzqu\r\nnmlvIm7bW2w9wT9iBHErqxTfO3j5GewDACgY5HWS9WFfMKDDiqVHkxrZgQa2vlCn\r\njT21dc2CbGSynncois1kszgaF8xwKgNOj+DzrO89AASKyDm4DElncEa4r5F7Lzox\r\ntObZU37EIb105lxE+GCUseYjMf5D/WVIoTt/FtEBYRTEBlG7cOQimxlJhNUYZTcq\r\nF4dzoKW8X09R0GYjWHZh+/8Q2mj+QqRrbgNuLR3sKp52nueakfec5fGyN9uUlLK/\r\nD8q+JjWERgILXWrMpHWoklEXKniMlFNMTHA52t4nlsEzdx3EFNeXCdmkHloXlnLs\r\naH0BTyQu67LVezKGfG3ZNTtfjJ55yIFJm6oUo0yqo6qXgAPQrccIf7ETTTt4dLER\r\nsorqfWq+eHb1EB3MlYbtiLjodQ46TmTO+YMC7P2aiwT7xoO9KBcSqsIxJ1osy7n+\r\ndslV4adv3YnMY9ZirNHTmKtuX5QOCDMa8I7QxmZoHHVeetq9plSM4daKAAJCwomA\r\ndSmMxi9tMl/r5qZZ28+VmGcCAwEAAQ==\r\n-----END PUBLIC KEY-----" />
  </spiderAgents>
  <userSettings>
    <TelegramBot.Properties.Settings>
      <setting name="ChatUsers" serializeAs="String">
        <value />
      </setting>
    </TelegramBot.Properties.Settings>
  </userSettings>
</configuration>